<!doctype html>

<html lang="en">


<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta name="robots" content="noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- PAGE TITLE -->
    <title>Nimi - Resume</title>

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- STYLESHEETS -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/plugins.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">


</head>

<body>
    <!-- IMAGE CONTAINER -->
    <div class="image-container">

        <div class="background-img"></div>

    </div>
    <!-- /IMAGE CONTAINER -->


    <!-- CONTENT AREA -->
    <div class="content-area">


        <!-- CONTENT AREA INNER -->
        <div class="content-area-inner">
            <!-- ABOUT -->
            <section id="about">
                <div id="hng_logo">
                    <img src="/images/logo.png" alt="hng_logo">
                </div>

                <h3 class="headline scroll-animated-from-right">Why I can help you.</h3>

                <p class="scroll-animated-from-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                    semper faucibus eros, quis imperdiet sapien. Nam sodales nec risus nec interdum. Proin lobortis, ex
                    condimentum ultricies eleifend, nisl nunc sollicitudin odio, eget egestas est turpis et metus. In
                    non ligula quis mauris rutrum porta.</p>

                <p class="scroll-animated-from-right">Duis consectetur massa sit amet nibh rhoncus, at pharetra ligula
                    aliquet. Ut ac velit vestibulum, eleifend diam ut, malesuada nisi. Sed vel felis vitae diam luctus
                    commodo. Nunc ipsum est, vulputate id orci ac, luctus consectetur sapien.</p>


            </section>
            <!-- /ABOUT -->


            <!-- SERVICE -->
            <section id="service">


                <h3 class="headline scroll-animated-from-right">What I can do for you.</h3>


                <!-- SERVICE LIST -->
                <ul class="services-list">
                    <li class="scroll-animated-from-right"></i>Concept & Strategy</li>
                    <li class="scroll-animated-from-right">Design Direction
                    </li>
                    <li class="scroll-animated-from-right">Product
                        Design</li>
                    <li class="scroll-animated-from-right">Web Design
                    </li>
                    <li class="scroll-animated-from-right">UI & UX
                        Design</li>
                </ul>
                <!-- /SERVICE LIST -->
            </section>
            <!-- /SERVICE -->

            <!-- WORK -->
            <section id="work">

                <h3 class="headline scroll-animated-from-right">My latest Work.</h3>


                <!-- SHOWCASE -->
                <div class="showcase">

                    <!-- ITEM -->
                    <div class="item scroll-animated-from-right">


                        <!-- LIGHTBOX LINK -->
                        <a data-featherlight="#item-2-lightbox">


                            <!-- INFO -->
                            <div class="info">


                                <!-- CONTAINER MID -->
                                <div class="container-mid">

                                    <h5>Asimov 71</h5>
                                    <p>Product Design</p>

                                </div>
                                <!-- /CONTAINER MID -->


                            </div>
                            <!-- /INFO -->


                            <div class="background-image" style="background-image: url(images/item-2.jpg)"></div>


                        </a>
                        <!-- /LIGHTBOX LINK -->


                        <!-- LIGHTBOX -->
                        <div id="item-2-lightbox" class="work-lightbox">


                            <img class="img-responsive" src="images/item-2.jpg" alt="image">

                            <h3>Asimov 71</h3>
                            <p class="subline">Product Design</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper faucibus eros, quis
                                imperdiet sapien. Nam sodales nec risus nec interdum. Proin lobortis, ex condimentum
                                ultricies eleifend, nisl nunc sollicitudin odio, eget egestas est turpis et metus. In
                                non ligula quis mauris rutrum porta.</p>

                        </div>
                        <!-- /LIGHTBOX -->

                    </div>
                    <!-- /ITEM -->

                    <!-- ITEM -->
                    <div class="item scroll-animated-from-right">

                        <!-- LIGHTBOX LINK -->
                        <a data-featherlight="#item-3-lightbox">

                            <!-- INFO -->
                            <div class="info">

                                <!-- CONTAINER MID -->
                                <div class="container-mid">

                                    <h5>Hardley &amp; Sons</h5>
                                    <p>Design Direction</p>

                                </div>
                                <!-- /CONTAINER MID -->

                            </div>
                            <!-- /INFO -->

                            <div class="background-image" style="background-image: url(images/item-3.jpg)"></div>

                        </a>
                        <!-- /LIGHTBOX LINK -->

                        <!-- LIGHTBOX -->
                        <div id="item-3-lightbox" class="work-lightbox">


                            <img class="img-responsive" src="images/item-3.jpg" alt="image">

                            <h3>Hardley &amp; Sons</h3>
                            <p class="subline">Design Direction</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper faucibus eros, quis
                                imperdiet sapien. Nam sodales nec risus nec interdum. Proin lobortis, ex condimentum
                                ultricies eleifend, nisl nunc sollicitudin odio, eget egestas est turpis et metus. In
                                non ligula quis mauris rutrum porta.</p>
                        </div>
                        <!-- /LIGHTBOX -->

                    </div>
                    <!-- /ITEM -->
                </div>
                <!-- /SHOWCASE -->

            </section>
            <!-- /WORK -->

            <!-- CONTACT -->
            <section id="contact">
                <h3 class="headline scroll-animated-from-right">Contact Me.</h3>
                <!-- CONTACT LIST -->
                <ul class="contact-list">

                    <li class="scroll-animated-from-right"><i class="fa fa-mobile" aria-hidden="true"></i>+(234) 708 506
                        2512
                    </li>
                    <li class="scroll-animated-from-right"><i class="fa fa-envelope-o"
                            aria-hidden="true"></i>toluwanimiakinleye01@gmail.com</li>

                </ul>
                <!-- /CONTACT LIST -->
                <!-- CONTACT FORM -->
                <form id="contact-form" action="/register" method="POST">


                    <input id="contact-form-name" type="text" name="name"
                        class="form-control scroll-animated-from-right" placeholder="Please ener your name">

                    <input id="contact-form-email" type="text" name="email"
                        class="form-control scroll-animated-from-right" placeholder="Please enter your email">

                    <textarea id="contact-form-message" name="message" class="form-control scroll-animated-from-right"
                        placeholder="Please enter your Message"></textarea>

                    <button type="submit" class="form-control scroll-animated-from-right">Send Mail</button>
                </form>
                <!-- /CONTACT FORM -->
            </section>
            <section id="footer">
                <a href="https://internship.zuri.team/" target="_blank">Link to Zuri website</a>
            </section>
        </div>
    </div>
</body>


</html>